# Django Settings
EMAIL=
EMAIL_PASSWORD=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DEBUG=
# Get this from: https://supabase.com/dashboard → Project Settings → API → JWT Settings → JWT Secret
SUPABASE_JWT_SECRET=
